body{
    font:15px/1.5 courier, monospace, sans-serif;
    padding:0;
    margin:0;
    background-color:#ffdded;
}

/* Global */
.container{
    width:80%;
    margin:auto;
    overflow:hidden;
}

/* Header **/
header{
    background:#fcccf1;
    color:#000000;
    padding-top:30px;
    min-height:70px;
    border-bottom:#dd94cd 3px solid;
}

header a{
    color:#000000;
    text-decoration:none;
    text-transform:uppercase;
    font-size:16px;
}

header ul{
    margin:0;
    padding:0;
}